In [2]:

import numpy as np
import pandas as pd 
import streamlit as st

In [3]:
df = pd.read_csv("/Users/jaychotaliya/Downloads/Hotel Recommandation/csv_data.csv")
df.head()

,S.No.,State,City,Category,Alcohol,Hotel Name,Address,Start Date,Expiry Date,Total Rooms
0,1,Delhi,New Delhi,1 Star,NaN,Hotel LA (A unit of L A Hotels And Retreats Pv...,"plot no A-1, Community Centre, Road No 43, Man...",20/01/2020,19/01/2025,35
1,2,Gujarat,Adalaj,1 Star,NaN,"Amba Suites, Unit of Amba Township Private Lim...","Amba Business Park, Shivam â€“ II, Sub-Plot No...",15/07/2022,14/07/2027,64
2,3,Gujarat,Ahmedabad,1 Star,NaN,Hotel Pragati The Grand (A Unit of Pragati The...,"SP-2,FP 2342,PAIKI, NR ZYDUS CADILA HOSPITAL,H...",22/09/2021,21/09/2026,45
3,4,Gujarat,Ahmedabad,1 Star,NaN,Hotel Rezaas,"375-1, Sheetal Baug, Nr. Girish Cold Drink, Of...",31/10/2018,30/10/2023,38
4,5,Gujarat,Anand,1 Star,NaN,HOTEL ARIZONA INN,"OPP. S R PARK, ANAND- SOJITRA ROAD, ANAND- 388001",01/09/2020,31/08/2025,28

**Check for Missing Values**

In [4]:
missing_values = df.isnull().sum()
missing_values

S.No.            0
State            0
City             0
Category         0
Alcohol        536
Hotel Name       0
Address          0
Start Date       0
Expiry Date      0
Total Rooms      0
dtype: int64

**Checking the number of unique values in each column**

In [5]:
unique_values = df.nunique()
unique_values

S.No.          1212
State            30
City            247
Category          5
Alcohol           2
Hotel Name     1185
Address        1210
Start Date      340
Expiry Date     342
Total Rooms     253
dtype: int64

**Getting basic statistical summary for numeric column 'Total Rooms'**

In [6]:
stat_summary = df['Total Rooms'].describe()
stat_summary

count    1212.000000
mean       75.646865
std        93.098648
min        10.000000
25%        15.000000
50%        41.000000
75%       102.000000
max      1024.000000
Name: Total Rooms, dtype: float64

**Distribution of hotels across states**

In [7]:
state_distribution = df['State'].value_counts()

state_distribution

State
Kerala                 557
Gujarat                144
Maharashtra             81
West Bengal             47
Delhi                   42
Karnataka               39
Goa                     38
Andhra Pradesh          32
Haryana                 28
Chhattisgarh            27
Tamil Nadu              26
Telangana               21
Rajasthan               20
Uttar Pradesh           19
Madhya Pradesh          16
Assam                   16
Odisha                  15
Punjab                  12
Uttarakhand              7
Himachal Pradesh         5
Andaman And Nicobar      4
Bihar                    3
Arunachal Pradesh        3
DNH & DD                 2
Jharkhand                2
Chandigarh               2
Meghalaya                1
Manipur                  1
Tripura                  1
Ladakh                   1
Name: count, dtype: int64

**Distribution of hotel categories**

In [8]:
category_distribution = df['Category'].value_counts()
category_distribution

Category
3 Star    497
4 Star    338
5 Star    338
2 Star     23
1 Star     16
Name: count, dtype: int64

In [9]:
# Converting 'Start Date' and 'Expiry Date' to datetime format
df['Start Date'] = pd.to_datetime(df['Start Date'], dayfirst=True)
df['Expiry Date'] = pd.to_datetime(df['Expiry Date'], dayfirst=True)

# Checking the distribution of the 'Alcohol' column
alcohol_distribution = df['Alcohol'].value_counts(dropna=False)

# Checking the range of 'Start Date' and 'Expiry Date'
start_date_range = df['Start Date'].min(), df['Start Date'].max()
expiry_date_range = df['Expiry Date'].min(), df['Expiry Date'].max()

alcohol_distribution, start_date_range, expiry_date_range

(Alcohol
 NaN                536
 With Alcohol       492
 Without Alcohol    184
 Name: count, dtype: int64,
 (Timestamp('2016-02-08 00:00:00'), Timestamp('2023-01-11 00:00:00')),
 (Timestamp('2023-07-03 00:00:00'), Timestamp('2028-01-10 00:00:00')))

**Building a simple recommendation system for the user if they want alcohol or not
based on the preference city,state and category**

In [10]:
#First of all we need to fill the missing values with 'Unknown'
# Filling missing values in the 'Alcohol' column
df['Alcohol'].fillna('Unknown', inplace=True)

# Verifying the operation
df['Alcohol'].value_counts(dropna=False)

Alcohol
Unknown            536
With Alcohol       492
Without Alcohol    184
Name: count, dtype: int64

In [11]:
state_df=(df["State"].unique()).tolist()
print(state_df)
state=input("Enter Your Destination State")

['Delhi', 'Gujarat', 'Madhya Pradesh', 'Maharashtra', 'Andaman And Nicobar', 'Assam', 'Himachal Pradesh', 'Kerala', 'Odisha', 'Rajasthan', 'Andhra Pradesh', 'Arunachal Pradesh', 'Bihar', 'Chhattisgarh', 'Goa', 'Haryana', 'Karnataka', 'Manipur', 'Meghalaya', 'Punjab', 'Tamil Nadu', 'Telangana', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal', 'DNH & DD', 'Jharkhand', 'Tripura', 'Chandigarh', 'Ladakh']

In [12]:
city_df=(df[df["State"]==state]["City"].unique()).tolist()
print(city_df)
city=input("Enter Your Destination City")

['Adalaj', 'Ahmedabad', 'Anand', 'Bhavnagar', 'Gandhinagar', 'Morvi', 'Rajkot', 'Surat', 'Vadodara', 'Veraval', 'Dwarka', 'Gandhidham', 'Jamnagar', 'Kevadiya', 'Morabi', 'Navsari', 'Porbandar', 'Saurashtra', 'Bharuch', 'Bhuj', 'Dang', 'Kutch', 'Mahesana', 'Morbi', 'Sanand', 'Talaja', 'Vapi', 'Viramgam', 'Anjar', 'Junagadh', 'Pardi', 'Dabhou', 'Nadiad', 'Vijaynagar']

In [13]:

Categories=(df[df["City"]==city]["Category"].unique()).tolist()
print(Categories)
Categori=input("Enter Your categorie")

['1 Star', '3 Star', '5 Star']

In [14]:
Alcohole=(df[df["Category"]==Categori]["Alcohol"].unique()).tolist()
print(Alcohole)
alchi=input("Enter The Alcho Hole Type")

[]

In [15]:

def recommend_hotels(state, city, Categori , alchi):
    # Filter hotels based on user's preferences
    recommended_hotels = df[(df['State'] == state) & (df['City'] == city) & (df['Category'] == Categori) & (df["Alcohol"]==alchi)]
    
    # Sort hotels by alcohol availability
    recommended_hotels = recommended_hotels.sort_values('Total Rooms', ascending=False)
    
    return recommended_hotels.iloc[:5,:]

# Test the function

In [16]:
recommend_hotels(state, city, Categori , alchi)

Empty DataFrame
Columns: [S.No., State, City, Category, Alcohol, Hotel Name, Address, Start Date, Expiry Date, Total Rooms]
Index: []

In [17]:
list(df[df["State"]=="Gujarat"]["City"])

['Adalaj',
 'Ahmedabad',
 'Ahmedabad',
 'Anand',
 'Bhavnagar',
 'Gandhinagar',
 'Gandhinagar',
 'Morvi',
 'Rajkot',
 'Surat',
 'Vadodara',
 'Vadodara',
 'Veraval',
 'Dwarka',
 'Gandhidham',
 'Gandhidham',
 'Gandhinagar',
 'Jamnagar',
 'Kevadiya',
 'Morabi',
 'Morvi',
 'Navsari',
 'Porbandar',
 'Saurashtra',
 'Vadodara',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Anand',
 'Anand',
 'Bharuch',
 'Bharuch',
 'Bharuch',
 'Bhavnagar',
 'Bhavnagar',
 'Bhuj',
 'Bhuj',
 'Bhuj',
 'Bhuj',
 'Bhuj',
 'Dang',
 'Dwarka',
 'Jamnagar',
 'Kutch',
 'Mahesana',
 'Morabi',
 'Morbi',
 'Morvi',
 'Morvi',
 'Morvi',
 'Morvi',
 'Morvi',
 'Porbandar',
 'Porbandar',
 'Rajkot',
 'Rajkot',
 'Rajkot',
 'Rajkot',
 'Rajkot',
 'Rajkot',
 'Rajkot',
 'Rajkot',
 'Sanand',
 'Saurashtra',
 'Surat',
 'Surat',
 'Talaja',
 'Vadodara',
 'Vadodara',
 'Vadodara',
 'Vadodara',
 'Vadodara',
 'Vadodara',
 'Vadodara',
 'Vapi',
 'Viramgam',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Anjar',
 'Dwarka',
 'Dwarka',
 'Gandhidham',
 'Gandhidham',
 'Gandhinagar',
 'Jamnagar',
 'Jamnagar',
 'Jamnagar',
 'Jamnagar',
 'Junagadh',
 'Kevadiya',
 'Morvi',
 'Pardi',
 'Rajkot',
 'Vadodara',
 'Vadodara',
 'Veraval',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Anand',
 'Gandhinagar',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Ahmedabad',
 'Dabhou',
 'Dwarka',
 'Gandhinagar',
 'Junagadh',
 'Junagadh',
 'Nadiad',
 'Rajkot',
 'Rajkot',
 'Rajkot',
 'Surat',
 'Surat',
 'Surat',
 'Surat',
 'Vadodara',
 'Vadodara',
 'Vadodara',
 'Vijaynagar']

**Visualize the data**